name: Run Tender Company Names Bot

on:
  workflow_dispatch:
  schedule:
  #  - cron: "*/1 * * * *"   # every 15 minutes

jobs:
  run-bot:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Install Python dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Tender Bot
        run: python main4.py

      - name: Commit progress
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add URLS.xlsx batch_counter.txt
          git commit -m "Batch scraping progress" || echo "No changes"
          git push
